
@media screen and (max-width:1024px){
    .laptopOne,.laptopTwo {
        transform: none !important;
    }
    
}

.box{
    position: relative;
    height:50% ;
    width: 100%;
    background-color: #f0f0f0;
}